 body {background-color: white;}

 .container{
    position: relative;
    color: black;
    font-family: 'Racing Sans One', cursive;
    font-size: 50px;
  }; 

  a:link{
    color: black
  }

  a:visited{
    color: black 
  }
  
  a:hover {
    font-size:120%;
    color: palevioletred
  }

  h2, h3, h4 { 
    font-size:60px;
  }
