body {
  display: flex;
  flex-direction: column;
  background: rgb(53, 63, 90);
}

section {
  margin: 0;
  padding: 20px;
}

.aboutus {
  background: rgb(53, 63, 90);
}

.discover {
  background: rgb(45, 200, 187);
}

.resources {
  background: rgb(219, 129, 128);
}

.map {
  background: rgb(119, 60, 144);
}

header {
  position: sticky;
  top: 0;
  background: rgb(53, 63, 90);
  height: 75px;
}

footer {
  position: sticky;
  bottom:0;
  background: rgb(53, 63, 90);
  height: 75px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-container > div {
  width: 100px;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  flex-grow: 1;
}

a {
  text-decoration: none;
}

a:link{
  color: black;
}

a:visited{
  color: black;
}

a:hover {
  font-size:105%;
  color: white;
  text-decoration: underline white;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  color: white;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 40px;
  color: white;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  color: white;
}

h4 {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}

p {
  font-family: 'Quicksand', sans-serif;
  font-size: 100px;
  color: white;
}

.right {
  text-align: right;
}

img.resourceslinks:hover {
  width: 60%;
}

html {
  scroll-behavior: smooth;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: white;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: gray;
  width: 0%;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 100%;
      }
      
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      
      body {
        padding: 0 !important;
      }
      
      table {
        font-size: 12px;
      }
      
      .hotel-search {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        left: 0;
        position: absolute;
        top: 0;
        width: 440px;
        z-index: 1;
      }
      
      #map {
        margin-top: 40px;
        width: 440px;
      }
      
      #listing {
        position: absolute;
        width: 200px;
        height: 470px;
        overflow: auto;
        left: 442px;
        top: 0px;
        cursor: pointer;
        overflow-x: hidden;
      }
      
      #findhotels {
        font-size: 14px;
      }
      
      #locationField {
        -webkit-box-flex: 1 1 190px;
        -ms-flex: 1 1 190px;
        flex: 1 1 190px;
        margin: 0 8px;
      }
      
      #controls {
        -webkit-box-flex: 1 1 140px;
        -ms-flex: 1 1 140px;
        flex: 1 1 140px;
      }
      
      #autocomplete {
        width: 100%;
      }
      
      #country {
        width: 100%;
      }
      
      .placeIcon {
        width: 20px;
        height: 34px;
        margin: 4px;
      }
      
      .hotelIcon {
        width: 24px;
        height: 24px;
      }
      
      #resultsTable {
        border-collapse: collapse;
        width: 240px;
      }
      
      #rating {
        font-size: 13px;
        font-family: Arial Unicode MS;
      }
      
      .iw_table_row {
        height: 18px;
      }
      
      .iw_attribute_name {
        font-weight: bold;
        text-align: right;
      }
      
      .iw_table_icon {
        text-align: right;
      }
